body{
    background-size: cover;
    background-position : center;
    text-align: center;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start , #status , #restart{
    font-size: 23px;
}

.footer{
    position: fixed;
    background-color: white;
    line-height: 2;
    margin: 0px;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

canvas{
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
}